node_modules/
data/SUBZONE_DWELLING_TYPE_2016.dbf
data/SUBZONE_DWELLING_TYPE_2016.prj
data/SUBZONE_DWELLING_TYPE_2016.sbn
data/SUBZONE_DWELLING_TYPE_2016.sbx
data/SUBZONE_DWELLING_TYPE_2016.shp
data/SUBZONE_DWELLING_TYPE_2016.shx
data/SUBZONE_DWELLING_TYPE_2016.shp.xml
yarn.lock
